Fonts connect*/

@font-face {
	font-family: '';
	src: url('../fonts/KaushanScript.ttf');
	src: local('☺'), url('../fonts/KaushanScript.ttf') format('ttf');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'icomoon';
	src: url('../fonts/icomoon.eot?jilhky');
	src: url('../fonts/icomoon.eot?jilhky#iefix') format('embedded-opentype'), url('../fonts/icomoon.ttf?jilhky') format('truetype'), url('../fonts/icomoon.woff?jilhky') format('woff'), url('../fonts/icomoon.svg?jilhky#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"],[class*=" icon-"] {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'icomoon' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}


/*  */

* {
	padding: 0;
	margin: 0;
	border: 0;
}

*,*:before,*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

:focus,
 :active {
	outline: none;
}

a:focus,a:active {
	outline: none;
}

nav,footer,header,aside {
	display: block;
}

html,body {
	height: 100%;
	width: 100%;
	font-size: 100%;
	/*line-height: 20px;*/
	font-size: 1;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	/*overflow: hidden; */
}

input,button,textarea {
	font-family: inherit;
}

input::-ms-clear {
	display: none;
}

button {
	cursor: pointer;
}

button::=moz-focus_inner {
	padding: 0;
	border: 0;
}

a,a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

h1,h2,h3,h4,h5,h6 {
	font-size: inherit;
	font-weight: 400;
}
/* First  */

.container {
	max-width: 1170px;
	margin: 0 auto;
	padding: 0 15px;
}

body {
	font-family: 'PT Serif', serif;
	font-weight: 400;
	font-size: 14px;
	line-height: 18px;
	color: #5e5e5e;
}

header {
	font-family: 'Roboto', sans-serif;
}

.header__top {
	background-color: #303030;
}

.header__btn {
	float: right;
	line-height: 36px;
	color: #1b1b1b;
	background-color: #ffc222;
	padding: 5px 20px 4px 50px;
	font-size: 16px;
	display: block;
	position: relative;
}

.header__btn:before {
	content: "\f0b1";
	font-family: 'icomoon';
	position: absolute;
	left: 22px;
	color: #1b1b1b;
}

.header__contacts:after {
	content: "";
	clear: both;
	display: block;
}

.header__phone,
.header__email {
	color: #cbcacb;
	letter-spacing: 0.25px;
	line-height: 45px;
	position: relative;
}

.header__phone {
	padding-left: 20px;
	padding-right: 30px;
}

.header__phone:before {
	content: "\f095";
	font-family: 'icomoon';
	position: absolute;
	left: 0;
	color: #ffc222;
}

.header__email {
	padding-left: 24px;
}

.header__email:before {
	content: "\f003";
	font-family: 'icomoon';
	position: absolute;
	left: 0;
	color: #ffc222;
}

.header__content {
	padding: 34px 0px 23px;
}

.header__content-inner {
	display: flex;
	justify-content: space-between;
}

.menu li {
	display: inline-block;
}

.menu a {
	color: #323232;
	font-size: 16px;
	line-height: 36px;
	border: 1.5px solid transparent;
	padding: 5px 16px;
	transition: all .3s;
}

.menu a:hover {
	border-color: #ffc222;
}

.menu li+li {
	padding-left: 10px;
}
/* */

#modal {
	display: none;
}

.slider {
	background-image: url(../img/slider-fon.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	min-height: 500px;
}

.slider__item-content {
	text-align: center;
	padding-top: 110px;
	max-width: 665px;
	margin: 0 auto;
}

.slider__title {
	text-transform: uppercase;
	font-size: 30px;
	line-height: 36px;
	color: #fff;
	font-weight: 500;
	letter-spacing: 1.5px;
	margin-bottom: 22px;
	font-family: 'Roboto', sans-serif;
}

.slider__text {
	line-height: 24px;
	font-size: 18px;
	color: #d3d2d2;
	margin-bottom: 50px;
}

.slider__btn {
	display: inline-block;
	font-size: 14px;
	line-height: 24px;
	color: #fff;
	font-weight: 500;
	font-family: 'Roboto', sans-serif;
	padding: 8px 30px 8px 24px;
	border: 1px solid #ffc222;
	border-right-width: 20px;
}

.default-btn {
	display: inline-block;
	font-size: 14px;
	line-height: 24px;
	color: #fff;
	font-weight: 500;
	font-family: 'Roboto', sans-serif;
	padding: 8px 30px 8px 24px;
	border: 1px solid #ffc222;
	border-right-width: 20px;
	position: relative;
	outline: none;
}

.default-btn:after {
	content: "\f105";
	font-family: 'icomoon';
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: -12px;
}

.slider__inner {
	position: relative;
}

.slick-btn {
	position: absolute;
	top: 70%;
	z-index: 2;
	width: 40px;
	height: 40px;
	border: 1px solid #fff;
	background-color: transparent;
	cursor: pointer;
	background-color: #ffc222;
}

.slick-btn.slick-disabled {
	cursor: default;
	background-color: transparent;
}

.slick-btn:before {
	position: absolute;
	top: 30%;
	left: 44%;
	transform: translate(-50%;
	-50%);
	font-family: 'icomoon';
	color: #fff;
}

.slick-next:before {
	content: "\f105";
}

.slick-prev:before {
	content: "\f104";
}

.slick-next {
	right: 0;
}

.slick-prev {
	left: 0;
}


/*  */

.services {
	padding: 50px 0px 30px;
}

.services-top,
.news__top {
	display: flex;
	justify-content: space-between;
	margin-bottom: 100px;
}

.services__title-box,
.form__title-box,
.news__title-box {
	max-width: 550px;
	padding-left: 140px;
	position: relative;
}

.services__title-box:before,
.form__title-box:before,
.news__title-box:before {
	content: '';
	position: absolute;
	width: 100px;
	height: 2px;
	background-color: #ffc222;
	left: 0;
	top: 11px;
}

.services-title,
.form__title,
.news__title {
	font-family: 'Roboto', sans-serif;
	font-size: 24px;
	font-weight: 500;
	line-height: 24px;
	color: #212020;
	margin-bottom: 10px;
}

.services__text,
.form__text,
.news__text {
	font-family: 'Roboto', sans-serif;
	letter-spacing: 0.1px;
	font-size: 16px;
	line-height: 22px;
}

.services__btn a,
.news__btn a {
	font-family: 'Roboto', sans-serif;
	color: #373636;
	line-height: 24px;
	letter-spacing: 0.25px;
	padding: 8px 36px;
	border: 3px solid #e6e6e6;
	font-size: 14px;
}

.services-items {
	display: flex;
	justify-content: center;
}

.services-item {
	max-width: 360px;
	text-align: center;
	padding: 30px 0px 80px;
	position: relative;
	min-height: 375px;
	background-color: #f9f9f9;
	margin-left: 30px;
	box-shadow: 0px 7px 25px 2.7px rgba(91, 89, 89, 0.14);
}

.services-item:hover {
	box-shadow: 1px 3px 8px gray;
	transition: all .3s;
}

.services__item-title {
	font-family: 'Roboto', sans-serif;
	color: #212020;
	font-size: 18px;
	line-height: 24px;
	font-weight: 500;
	padding: 24px 0;
}

.services__title-text {
	letter-spacing: 0.1px;
	padding: 0px 30px 30px;
}

.services__item-btn {
	position: absolute;
	bottom: 40px;
	left: 0;
	right: 0;
}

.services__item-btn .default-btn {
	color: #373636;
}

.services__item-btn .default-btn:after {
	color: #fff;
}

.services__item-link {
	color: #050505;
	font-family: 'Roboto', sans-serif;
	border-bottom: 1px solid #050505;
	margin-right: 60px;
}

.services__item-link:hover {
	border-bottom: 1px solid #ffc222;
}


/* */

.about {
	background-image: url(../img/about-fon.jpg);
	background-size: cover;
	background-position: center;
	min-height: 300px;
	background-repeat: no-repeat;
}

.about__inner {
	max-width: 545px;
}

.about__title {
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	font-size: 24px;
	margin-bottom: 25px;
	padding-top: 45px;
	line-height: 24px;
	color: #fff;
}

.about__text {
	color: #d3d3d2;
	margin-bottom: 30px;
	line-height: 30px;
	letter-spacing: 0.1px;
}

.about__btn.default-btn:after {
	color: #000;
}
/* */

.form {
	padding-top: 30px;
}

.form__inner {
	padding-bottom: 40px;
	background-image: url(../img/form-fon.png);
	background-repeat: no-repeat;
	min-height: 460px;
	background-position: bottom right;
}

.form__box {
	max-width: 850px;
	padding-top: 45px;
}

.form__box-inner {
	display: flex;
	justify-content: space-between;
}

.form__box-left {
	max-width: 260px;
	width: 100%;
}

.form__box-right {
	max-width: 555px;
	width: 100%;
}

.form__box-inner label,
.form__box-inner input,
.form__box-inner textarea,
.form__box-inner select {
	display: block;
	width: 100%;
}

.form__box-inner label {
	line-height: 36px;
	color: #282828;
	font-family: 'Roboto', sans-serif;
}

.form__box-inner input {
	margin-bottom: 8px;
	outline: none;
	border: 1px solid #e6e6e6;
	height: 40px;
	padding: 0px 10px;
}

.form__box-inner select {
	border: 1px solid #e6e6e6;
	height: 40px;
	padding: 0px 10px;
	padding-left: 17px;
}

.form__box-inner .jq-selectbox.jqselect {
	display: block;
	width: 100%;
}

.form__box-inner .jq-selectbox__select {
	height: 40px;
	border: 1px solid #e6e6e6;
	padding-left: 17px;
}

.form__box-inner .jq-selectbox__trigger-arrow:before {
	content: "\f105";
	font-family: 'icomoon';
	position: absolute;
	right: 17px;
	top: 0;
	transform: rotate(90deg);
}

.form__box-inner .jq-selectbox__dropdown {
	width: 100%;
	margin: 2px 0 0;
	padding: 0;
	border: 1px solid #e6e6e6;
	background: #fff;
	box-shadow: 0 2px 10px rgba(0, 0, 0, .2);
}

.form__box-inner .jq-selectbox li {
	min-height: 18px;
	padding: 5px 17px 6px;
	color: #231F20;
}

.form__box-inner .jq-selectbox li.selected {
	background-color: #A3ABB1;
	color: #fff;
}

.form__box-inner .jq-selectbox li:hover {
	background-color: #08C;
	color: #fff;
}

.form__box-inner .jq-selectbox li.disabled {
	color: #AAA;
}

.form__box-inner .jq-selectbox li.disabled:hover {
	background: none;
}

.form__box-inner .jq-selectbox li.optgroup {
	font-weight: bold;
}

.form__box-inner .jq-selectbox li.optgroup:hover {
	background: none;
	color: #231F20;
	cursor: default;
}

.form__box-inner .jq-selectbox li.option {
	padding-left: 25px;
}

.form__box-inner textarea {
	outline: none;
	border: 1px solid #e6e6e6;
	padding: 10px;
	height: 208px;
	resize: none;
	margin-bottom: 42px;
}

.form__box-inner button {
	background-color: transparent;
	color: #282828;
	float: right;
}

/*  */

.advantages {
	padding: 55px 0px 40px;
	background-image: url(../img/adv-fon.jpg);
	background-attachment: no-repeat;
	background-position: center;
	min-height: 285px;
	background-size: cover;
}

.advantages__inner {
	color: #fff;
	display: flex;
	justify-content: space-between;
}

.advantages__item {
	max-width: 360px;
	padding: 0px 20px;
}

.advantages__title {
	font-size: 18px;
	line-height: 24px;
	font-weight: 500;
	font-family: 'Roboto', sans-serif;
	padding: 60px 0px 15px;
	text-align: center;
	position: relative;
}

.advantages__title:before {
	content: "";
	position: absolute;
	width: 40px;
	height: 40px;
	border: 2px solid #ffc222;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
}

.advantages__title:after {
	content: "\f00c";
	font-family: 'icomoon';
	font-size: 14px;
	position: absolute;
	top: 9px;
	left: 50%;
	transform: translateX(-50%);
}

.advantages__text {
	color: #d3d3d2;
	line-height: 24px;
	letter-spacing: 0.1px;
	text-align: center;
	font-size: 15px;
}
/* */

.news {
	padding: 55px 0px 110px;
	background-color: #f9f9f9;
}

.news__inner{
	display: flex;
	justify-content: space-between;
}

.news__slider{
	max-width: 555px;
	width: 100%;
	background-color: #fff;
	box-shadow: 0px 5px 16px 0.7px rgba(128, 127, 127, 0.13);
	padding: 60px 35px 45px 70px;
	position: relative;
}

.news__slider:before{
	content: "\f10e";
	font-family: 'icomoon';
	position: absolute;
	top: 0;
	left: 75px;
	height: 30px;
	width: 65px;
	color: #fff;
	font-size: 16px;
	text-align: center;
	line-height: 30px;
	background-color: #ffc222;
}

.news__blog{
	max-width: 260px;
	width: 100%;
}

.news__images{
	position: relative;
}

.news__date{
	position: absolute;
	background-color: #ffc222;
	color: #fff;
	height: 55px;
	width: 50px;
	text-align: center;
	padding-top: 30px;
	font-weight: 700;
	top: 0px;
	left: 10px;
}

.news__blog-title{
	font-size: 16px;
	font-weight: 500;
	font-family: 'Roboto', sans-serif;
	color: #242424;
	letter-spacing: 0.5px;
	padding: 12px 0;
}

.news__blog-text{
	letter-spacing: 0.1px;
	color: #5e5e5e;
}

.news__slider-title{
	font-size: 18px;
	line-height: 24px;
	color: #242424;
	font-weight: 500;
	font-family: 'Roboto', sans-serif;
	letter-spacing: 0.5px;
	margin-bottom: 15px;
}

.news__slider-text{
	margin-bottom: 30px;
}

.news__slider-author{
	color: #212020;
	letter-spacing: 0.1px;
	font-family: 'Roboto', sans-serif;
}

.news__slider-inner .slick-btn{
	top: auto;
	bottom: -110px;
}

.news__slider-inner .slick-next{
	right: -35px;
	border: 1px solid #dadada;
}	

.news__slider-inner .slick-prev{
	right: 20px;
	left: auto;
	border: 1px solid #dadada;
}

.news__slider-inner .slick-disabled:before{
	color: #dadada
}
/* */

.footer__content{
	background-color: #595959;
	padding: 20px 0px 30px;
}

.footer__inner{
	display: flex;
	justify-content: space-between;
}

.footer__inner .header__btn{
	float: none;
	display: inline-block;
}

.footer__map{
	padding-top: 10px;
	max-width: 630px;
	width: 100%;
}

.footer__map iframe{
	width: 100%;
}

.footer__info{
	max-width: 360px;
}

.footer__title{
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	font-size: 16px;
	color: #fff;
	line-height: 36px;
	letter-spacing: 0.5px;
}

.footer__text{
	color: #d3d2d2;
	margin-bottom: 20px;
	font-size: 16px;
	letter-spacing: 0.3px;
}

.footer__list{
	padding-top: 10px;
}

.footer__list li{
	margin-top: 10px;
}

.footer__list a{
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 0.25px;
	color: #fff;
	font-weight: 400;
	font-family: 'Roboto', sans-serif;
	padding-left: 33px;
	position: relative;
}

.footer__list .footer__phone:before{
	content: '\f095';
	font-family: 'icomoon';
	left: 3px;
}

.footer__list .footer__address:before{
	content: '\f041';
	font-family: 'icomoon';
	left: 3px;
}

.footer__list a:before{
	content: '\f003';
	font-family: 'icomoon';
	position: absolute;
	left: 0;
	color: #ffc222;
}

.footer__copy{
	background-color: #303030;
	font-family: 'Roboto', sans-serif;
	text-align: center;
	font-size: 12px;
	line-height: 24px;
	padding: 8px 0px;
	font-weight: 400;
	letter-spacing: 0.3px;
}

/* */
#modal{
	width: 300px;
}

#modal input{
	display: block;
	width: 100%;
	margin-bottom: 30px;
	height: 40px;
	outline: none;
	border: 1px solid #e6e6e6;
	height: 40px;
	padding: 0px 10px;
	font-weight: 400;
	font-family: 'Roboto', sans-serif;
}

#modal input[type="submit"]{
	background-color: #ffc222;
	border: none;
}

.header__btn-menu{
	display: none;
	font-size: 28px;
}
/*MEDIA*/

@media(max-width: 1156px){
	.services-items{
		display: block;
	}
	.services-item{
		max-width: 80%;
		min-height: 330px;
		margin: 30px auto;
	}
	.form__inner{
		background-image: none;
	}
	.news__inner{
		display: block;
	}
	.news__slider{
		max-width: 100%;
		margin-bottom: 90px;
	}
	.news__blog{
		max-width: 100%;
		display: block;
		margin-bottom: 30px;
	}
	.news__blog:after{
		content: '';
		clear: both;
		display: block;
	}
	.news__images{
		float: left;
		margin-right: 50px;
	}
	.news{
		padding-bottom: 60px;
	}
	.footer__info{
		max-width: 465px;
		margin-bottom: 25px;
	}
}

@media(max-width: 900px){
	.slider .slick-btn{
		display: none !important;
	}
	.services-top,
	.news__top{
		display: block;
		text-align: center;
	}
	.services__title-box,
	.form__title-box,
	.news__title-box{
		padding-left: 0;
		text-align: center;
		margin: 0 auto 30px;
	}
	.services__title-box:before,
	.form__title-box:before,
	.news__title-box:before{
		display: none;
	}
	.form__box-inner{
		display: block;
	}
	.form__box-left {
	max-width: 100%;
	}

	.form__box-right {
	max-width: 100%;
	}
	.form__box-inner .jq-selectbox__select{
		margin-bottom: 10px;
	}
	.default-btn{
		margin: 0 20px 0 0;
	}
	.advantages{
    margin-top: 20px;
	}
	.footer__inner{
		display: block;
	}
	.footer__map{
		width: 100%;
	}
}
	
@media(max-width: 700px){
	.header__btn{
		float: none;
		text-align: center;
	}
	.header__contact{
		text-align: center;
	}
	.header__btn:before{
		display: none;
	}
	.footer__info .header__btn:before{
		display: block;
	}
	.header__btn-menu{
		display: block;
	}
	.menu ul{
		display: none;
		position: absolute;
		left: 0;
		right: 0;
		margin-top: 20px;
		z-index: 50;
	}
	.menu li{
		display: block;
		text-align: center;
	}
	.menu a{
		display: block;
		background-color: #ffc222;
		border-top: 1px solid #fff;
		border-bottom: 1px solid #fff;
	}
	.menu li+li{
		padding-left: 0;
	}

}	

@media(max-width: 600px){
	
	.services-item{
		max-width: 100%;
		min-height: 375px;
		margin: 30px auto;
	}
	.advantages__inner{
		display: block;
	}
	.advantages__item{
		margin-bottom: 30px;
		max-width: 100%;
	}
}

@media(max-width: 540px){
	.news__slider{
		padding: 50px 15px 25px 25px;
	}
	.news__slider:before{
		left: 25px;
	}
	.news__slider-inner .slick-next{
		right: -20px;
	}
	.news__slider-inner .slick-prev{
		right: 35px;
	}
	.news__images{
		float: none;
	}
	.news__slider-inner .slick-btn{
		bottom: -90px;
	}
}

@media(max-width: 414px){
	.slider__title{
		font-size: 24px;
	}
	.slider__text{
		font-size: 16px;
	}
}

@media(max-width: 400px){
	.header__btn:before{
		display: block;
	}
	.advantages__item{
		padding: 0px 0px;
	}
}

@media(max-width: 375px){
	.header__email:before{
		padding-right: 20px;
	}
	.about__btn{
		margin-bottom: 25px;
	}

}

@media(min-width: 700px){
	.menu ul{
		display: block !important;
	}
}